:root {
  font-size: 1.786vh;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: $background-color;
  color: $black;
  letter-spacing: -0.015rem;
}

* {
  font-family: "Poppins";
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}
