.product {
  overflow-x: hidden;
  .product-wrapper {
    position: relative;
    .background {
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: #636363;
      top: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      overflow-y: hidden;
      z-index: 1;
    }
    .product-drag-header {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      position: fixed;
      z-index: 2;
      top: 0;
      padding: 24px 32px;
      opacity: 0;
      .company-name {
        color: $white;
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .close-button-wrapper {
        color: $white;
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .product-image-wrapper {
      position: relative;
      height: 540px;
      .product-image {
        z-index: 2;
        position: absolute;
        left: 100px;
        height: 100%;
        img {
          height: 95%;
          pointer-events: none;
          scale: 0.9;
        }
      }
    }
    .product-drag-info {
      z-index: 2;
      position: relative;
      margin-bottom: 40px;
      .product-drag-info-wrapper {
        padding: 0 32px;
        .product-drag-info-label {
          display: flex;
          justify-content: flex-end;
          h6 {
            font-size: 0.875rem;
            margin: 0;
            margin-bottom: 1.5rem;
            display: flex;
            align-items: center;
            svg {
              margin-right: 0.75rem;
            }
          }
        }
        .product-drag-info-progress-background {
          width: 100%;
          height: 1px;
          background: rgba(66, 66, 67, 0.2);
          position: relative;
          .product-drag-info-progress {
            width: 0%;
            height: 1px;
            background-color: $blue;
            position: absolute;
            z-index: 2;
            right: 0;
          }
        }
      }
    }
  }
}

.skeleton-product {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
}
